<ion-content fullscreen>
  <ion-avatar *ngIf="false">
    <img *ngIf="playground.isPrivate" src="assets/balloon-lock.png" />
    <img *ngIf="!playground.isPrivate" src="assets/balloon.png" />
  </ion-avatar>
  <ion-card-header>
    <ion-card-title>{{ playground.name }} </ion-card-title>
    <div class="title-buttons">
      <ion-button (click)="onNavigateClick()">
        <ion-icon name="navigate-outline" size="small"></ion-icon>
        Directions
      </ion-button>
      <ion-button (click)="onShareClick()">
        <ion-icon name="share-outline" size="small"></ion-icon>
        Share
      </ion-button>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngIf="playground.codedAddress">
        <ion-thumbnail slot="end">
          <ion-icon name="book"></ion-icon>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h4>Address</h4>
          <h3>{{ playground.codedAddress }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!playground.codedAddress">
        <ion-thumbnail slot="end">
          <ion-icon name="book"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h4>Address</h4>
          <h3>
            {{ playground.lat.toFixed(3) }} / {{ playground.lon.toFixed(3) }}
          </h3>
        </ion-label>
        <ion-spinner *ngIf="isLoadingAddress" name="lines-small"></ion-spinner>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="end">
          <ion-icon *ngIf="playground.isPrivate" name="lock-closed"></ion-icon>
          <ion-icon *ngIf="!playground.isPrivate" name="lock-open"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h4>Access</h4>
          <h3 *ngIf="playground.isPrivate">private</h3>
          <h3 *ngIf="!playground.isPrivate">public</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-icon class="close-icon" name="close" (click)="onCloseClick()"></ion-icon>
</ion-content>
