ion-card-title {
  padding-left: 1em;
  padding-right: 1em;
}
ion-avatar {
  width: auto;
  margin-top: 1em;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 4.5em;
  height: 4.5em;
  padding: 1em;
  background-color: #eeeeee;
  border-radius: 100%;
  ion-img {
    width: 100%;
    height: 100%;
  }
}

.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 1.5em;
  width: 1.5em;
  color: gray;
}

.title-buttons {
  display: flex;
  justify-content: space-around;
  width: auto;
  padding: 0.4em;
  margin: 1em 3em 0.25em 3em;
  background-color: #fefefe;
  border-radius: 48px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  ion-button {
    --border-radius: 100%;
    --padding-start: 0;
    --padding-end: 0;
    width: 2em;
    height: 2em;
    ion-icon {
      color: #333333;
    }
  }
}

ion-item {
  h4 {
    color: #333333;
    font-weight: 300;
  }
  h3 {
    font-weight: 500;
  }
  ion-icon {
    vertical-align: middle;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    color: darkgray;
  }
  ion-spinner {
    vertical-align: baseline;
  }
}
