<ion-content [fullscreen]="true">
  <app-map-view
    id="map"
    [searchRadius]="searchRadius"
    [parent]="this"
  ></app-map-view>
  <div
    id="modal"
    *ngIf="showSearch"
    class="padding-safe-area-top search"
    #searchModal
  >
    <ion-item>
      <ion-icon id="title-icon" name="compass-outline"></ion-icon>
      <ion-label *ngIf="!isLoadingMarkerAddress">
        {{ currentMarkerString }}
      </ion-label>
      <ion-label *ngIf="isLoadingMarkerAddress">
        Loading address…
        <ion-spinner color="dark" name="lines-small"></ion-spinner>
      </ion-label>
      <ion-icon
        slot="end"
        name="close-outline"
        (click)="onSearchToggle()"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon id="title-icon" name="code-working-outline"></ion-icon>
      <ion-range
        min="100"
        max="10000"
        step="10"
        ticks="false"
        [(ngModel)]="searchRadius"
        (ionChange)="onSearchRadiusChange()"
      ></ion-range>
      <ion-chip outline="true" item-end>
        <ion-label> {{ formattedSearchRadius() }} </ion-label>
      </ion-chip>
    </ion-item>
    <p id="hint" *ngIf="!hasUpdatedSearchParams">
      Move the marker on the map and find nearby playgrounds…
    </p>
  </div>

  <div
    id="modal"
    *ngIf="showDirections"
    class="padding-safe-area-top directions"
    #directionsModal
  >
    <ion-item>
      <div class="table">
        <div class="column">
          <ion-icon name="balloon-outline" size="large"></ion-icon>
          {{ currentPlayground.name }}
        </div>
        <div class="column">
          <ion-icon name="code-working-outline" size="large"></ion-icon>
          {{ formattedDirectionDistance }}
        </div>
        <div class="column">
          <ion-icon name="time-outline" size="large"></ion-icon>
          {{ formattedDirectionDuration }}
        </div>
      </div>
      <ion-icon
        slot="end"
        name="trash-outline"
        color="danger"
        size="small"
        (click)="onDirectionClear()"
      ></ion-icon>
    </ion-item>
    <ion-item
      class="instruction-title"
      *ngIf="directionInstructions.length"
      lines="none"
      (click)="showDirectionInstructions = !showDirectionInstructions"
    >
      Instructions
      <ion-icon
        slot="end"
        [name]="showDirectionInstructions ? 'chevron-up' : 'chevron-down'"
      ></ion-icon>
    </ion-item>
    <ion-list class="instructions" *ngIf="showDirectionInstructions">
      <ion-item
        *ngFor="let instruction of directionInstructions; index as i"
        (click)="onInstructionClick(i)"
      >
        <ion-chip slot="start" color="dark" outline="true">{{ i+1 }}</ion-chip>
        {{ instruction }}
      </ion-item>
    </ion-list>
  </div>

  <div
    id="modal"
    *ngIf="showLoadingPlaygrounds"
    class="padding-safe-area-top loading"
  >
    <h4>
      <ion-spinner color="primary"></ion-spinner>
      Loading playgrounds…
    </h4>
  </div>

  <ion-fab
    vertical="top"
    horizontal="end"
    slot="fixed"
    *ngIf="showSearchModalButton"
  >
    <ion-fab-button (click)="onSearchToggle()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!showDirections" (click)="onCurrentLocationToggle()">
      <ion-icon [name]="usesCurrentLocation ? 'location' : 'locate'"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="showDirections" (click)="onNavigateToggle()">
      <ion-icon [name]="isNavigating ? 'map' : 'navigate'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button
    id="search-button"
    *ngIf="showSearchPlaygroundsButton"
    (click)="onSearchPlaygroundsClick()"
  >
    Look for playgrounds in this area
  </ion-button>
</ion-content>
