@import '~swiper/scss';
@import '~swiper/css/navigation';
@import '~swiper/scss/pagination';
@import '~@ionic/angular/css/ionic-swiper';

.swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 90%;
  border-radius: 32px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

  --bullet-background: rgb(var(--ion-color-primary-rgb), 0.5);
  --bullet-background-active: var(--ion-color-primary);
  --scroll-bar-background: var(--ion-color-light);
  --swiper-navigation-color: rgba(128, 128, 128, 0.699);

  .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.4);
  }

  .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.8);
  }

  ion-icon {
    text-align: center;
  }
  ion-button {
    --border-radius: 8px;
    ion-icon {
      margin-right: 0.5em;
    }
  }
  p {
    margin: 20%;
    li {
      margin-bottom: 0.1em;
    }
  }

  .title-icon {
    --ionicon-stroke-width: 32px;
    height: 4em;
    width: 4em;
  }
}

.swiper-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
}

ion-icon {
  vertical-align: middle;
}

@media (prefers-color-scheme: light) {
  .swiper {
    color: #00000098;
    background-color: #ffffffad;
  }
  .swiper-backdrop {
    background-color: #9292923b;
  }
}

@media (prefers-color-scheme: dark) {
  .swiper {
    background-color: #3a3a3aad;
    color: #eeeeee91;
  }
  .swiper-backdrop {
    background-color: #2727273b;
  }
}

// background-color: #ecececad;
