<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="playgrounds.length === 0">
    <ion-item *ngFor="let _ of [].constructor(20)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-chip slot="end">
        <ion-skeleton-text animated style="width: 5em"></ion-skeleton-text>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="playgrounds.length !== 0">
    <ion-item *ngFor="let playground of playgrounds">
      <ion-avatar slot="start">
        <img *ngIf="playground.isPrivate" src="assets/balloon-lock.png" />
        <img *ngIf="!playground.isPrivate" src="assets/balloon.png" />
      </ion-avatar>
      <ion-label>
        <h3>{{ playground.name }}</h3>
        <p>{{ playground.address }}</p>
      </ion-label>
      <ion-chip slot="end">
        {{ playground.lat.toFixed(3) }} / {{ playground.lon.toFixed(3) }}
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
