ion-avatar {
  width: 3em;
  height: 3em;
  padding: 0.75em;
  background-color: #eeeeee;
  border-radius: 100%;
  ion-icon {
    width: 100%;
    height: 100%;
    color: gray;
  }
}

h3 {
  font-weight: 500;
}
