<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Privacy settings </ion-title>
    <ion-buttons slot="end">
      <ion-button
        shape="round"
        fill="solid"
        color="light"
        (click)="onQualityRatingDetailsClick()"
      >
        <ion-icon
          [ngClass]="qualityRatingCssClass"
          slot="icon-only"
          name="diamond"
        ></ion-icon
      ></ion-button>
      <ion-button
        shape="round"
        fill="solid"
        color="light"
        (click)="onPrivacyRatingDetailsClick()"
      >
        <ion-icon
          [ngClass]="privacyRatingCssClass"
          slot="icon-only"
          name="shield"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Privacy settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-item *ngFor="let option of locationOptions">
        <ion-avatar slot="start">
          <ion-icon [name]="getIcon(option.type)"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3 (click)="showLocationOptionDetails(option.type)">
            {{ getTitle(option.type) | translate }}
            <ion-icon id="help-icon" name="help-circle-outline"></ion-icon>
            <ion-chip
              *ngIf="getValueLabel(option).length"
              class="range-label-chip"
              color="primary"
            >
              {{ getValueLabel(option) }}
            </ion-chip>
          </h3>
          <p>{{ getSubtitle(option.type) | translate }}</p>
          <ion-range
            *ngIf="getType(option.type) === 'number'"
            [min]="0"
            [max]="getSteps(option.type).length - 1"
            step="1"
            ticks="true"
            snaps="true"
            [(ngModel)]="option.value"
            (ionChange)="onOptionChange()"
          >
            <ion-icon
              *ngIf="getMinIcon(option.type)"
              color="medium"
              slot="start"
              size="small"
              [name]="getMinIcon(option.type)"
            ></ion-icon>
            <ion-icon
              *ngIf="getMaxIcon(option.type)"
              color="medium"
              slot="end"
              [name]="getMaxIcon(option.type)"
            ></ion-icon>
          </ion-range>
          <ion-label
            *ngIf="getMinLabel(option.type).length"
            class="range-min-label"
            color="medium"
          >
            {{ getMinLabel(option.type) }}
          </ion-label>
          <ion-label
            *ngIf="getMaxLabel(option.type).length"
            class="range-max-label"
            color="medium"
          >
            {{ getMaxLabel(option.type) }}
          </ion-label>
        </ion-label>
        <ion-toggle
          *ngIf="getType(option.type) === 'boolean'"
          [(ngModel)]="option.value"
          (ngModelChange)="onOptionChange()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
