<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Privacy settings </ion-title>
    <ion-buttons slot="end">
      <ion-button
        shape="round"
        fill="solid"
        color="light"
        (click)="onQualityRatingDetailsClick()"
      >
        <ion-icon
          [ngClass]="qualityRatingCssClass"
          slot="icon-only"
          name="diamond"
        ></ion-icon
      ></ion-button>
      <ion-button
        shape="round"
        fill="solid"
        color="light"
        (click)="onPrivacyRatingDetailsClick()"
      >
        <ion-icon
          [ngClass]="privacyRatingCssClass"
          slot="icon-only"
          name="shield"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Privacy settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <!-- 
      <ion-item-divider>
        <ion-label>What can we use your location for?</ion-label>
      </ion-item-divider>-->

      <ion-item *ngFor="let option of locationOptions">
        <ion-avatar slot="start">
          <ion-icon [name]="getIcon(option.type)"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3 (click)="showLocationOptionDetails(option.type)">
            {{ getTitle(option.type) | translate }}
            <ion-icon id="help-icon" name="help-circle-outline"></ion-icon>
          </h3>
          <p>{{ getSubtitle(option.type) | translate }}</p>
          <ion-range
            *ngIf="getType(option.type) === 'number'"
            [min]="0"
            [max]="getSteps(option.type).length - 1"
            step="1"
            ticks="true"
            snaps="true"
            [(ngModel)]="option.value"
            (ionChange)="onOptionChange()"
          >
          </ion-range>
          <p class="range-label">{{ getValueLabel(option) }}</p>
        </ion-label>
        <ion-toggle
          *ngIf="getType(option.type) === 'boolean'"
          [(ngModel)]="option.value"
          (ngModelChange)="onOptionChange()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
