<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <!-- 
      <ion-item-divider>
        <ion-label>What can we use your location for?</ion-label>
      </ion-item-divider>-->

      <ion-item *ngFor="let option of locationOptions">
        <ion-avatar slot="start">
          <ion-icon [name]="getIcon(option.type)"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3 (click)="showDetails(option.type)">
            {{ getTitle(option.type) | translate }}
            <ion-icon id="help-icon" name="help-circle-outline"></ion-icon>
          </h3>
          <p>{{ getSubtitle(option.type) | translate }}</p>
          <ion-range
            *ngIf="getType(option.type) === 'number'"
            [min]="getRange(option.type)[0]"
            [max]="getRange(option.type)[1]"
            step="10"
            ticks="false"
            [(ngModel)]="option.value"
            (ionChange)="onOptionChange()"
          >
          </ion-range>
          <p class="range-label">{{ getValueLabel(option) }}</p>
        </ion-label>
        <ion-toggle
          *ngIf="getType(option.type) === 'boolean'"
          [(ngModel)]="option.value"
          (ngModelChange)="onOptionChange()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
